@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

a.active hr{
  display: block;
}
*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}

@media (min-width: 1536px) and (max-width: 1850px) {
  .pr-3xl {
    padding-right: 350px;
  }
}

@media (min-width: 1850px) and (max-width: 2150px) {
  .pr-4xl {
    padding-right: 400px;
  }
}

@media (min-width: 2150px) and (max-width: 2400px) {
  .pr-5xl {
    padding-right: 500px;
  }
}

@media (min-width: 2400px) and (max-width: 2660px) {
  .pr-6xl {
    padding-right: 550px;
  }
}